* {
    font-family: 'Courier New', monospace;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form {
    display: grid;
}

select {
    height: 2em;
    margin-bottom: 1em;
    width: 10em;
}

button {
    height: 2em;
}

#results {
    display: none;
}

table {
    width: 100%;
    margin-bottom: 1em;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}